ul.mclist {
    list-style: none;
}

ul.mclist li {
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 0px;
}

.form-group-multi-complete .card-body {
    padding-top: 5px;
    padding-bottom: 0px;
}

.form-group-multi-complete .card-body .badge.value {
    font-size: 13px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    float: left;
    background-color: var(--multiCompleteBadgeValueBgColor);
    color: var(--multiCompleteBadgeValueColor);
    border-width: 1px;
    border-style: solid;
    border-color: var(--multiCompleteBadgeValueBorderColor);
    border-right: 0px;
}

.form-group-multi-complete .card-body .badge.remove-icon {
    font-size: 13px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    float: left;
    border-left: 0px;
    background-color: var(--multiCompleteBadgeRemoveIconBgColor);
}

.form-group-multi-complete .remove-icon {
    border-width: 1px;
    cursor: pointer;
    width: 20px;
    border-style: solid;
    border-color: var(--multiCompleteBadgeRemoveIconBorderColor);
    border-right: 0px;
}

.form-group-multi-complete .remove-icon:before {
    color: var(--multiCompleteBadgeRemoveIconBeforeColor);
    font-size: 8px;
    font-family: dfi;
    content: "\e909";
}

.form-group-multi-complete .search_result_content {
    border-width: 1px;
    border-style: solid;
    border-color: var(--autocompleteChoicesBottomBorderColor);
    position: absolute;
    top: 30px;
    left: 0px;
    width: calc(100% - 15px);
    z-index: 999;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.search_result_content-bottom {
    border-width: 1px;
    border-style: solid;
    border-color: var(--autocompleteChoicesBottomBorderColor);
}

.search_result_content a:first-child {
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
}

.search_result_content a {
    padding-top: 4px!important;
    padding-bottom: 4px!important;
    border-left: 0px;
}

.search_result_content .input-group-append .input-group-text {
    border-top-right-radius: .2rem!important;
    border-bottom-right-radius: .2rem!important;
}

.search_result_content a[href]:hover {
    color: var(--autocompleteChoicesAhrefHoverColor);
    background-color: var(--autocompleteChoicesAhrefHoverBgColor);
    border-color: var(--autocompleteChoicesAhrefHoverBorderColor);
}

.search_result_content a[href]:hover .autocomplete-found {
    border-width: 1px;
    border-style: solid;
    border-color: var(--autocompleteChoicesAhrefHoverAutocompleteFoundBorderColor);
    margin-left: 2px;
    margin-right: 2px;
}

.search_result_content a[href]:first-child {
    border-top: 0px;
    border-radius: 0px;
}

.search_result_content a[href]:last-child {
    border-bottom: 0px;
    border-radius: 0px;
}

.form-group-multi-complete .autocomplete-found {
    background-color: var(--autocompleteFoundBgColor);
    color: var(--autocompleteFoundColor);
    padding: 2px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--autocompleteFoundBorderColor);
}

.form-group-multi-complete .mc-counter {
    padding-left: 4px;
    padding-right: 5px;
    letter-spacing: 1px;
    background-color: var(--multiCompleteBadgeRemoveIconBgColor);
    position: absolute;
    top: 2px;
    right: 17px;
    color: var(--multiCompleteBadgeRemoveIconBeforeColor);
    font-size: 10px;
    padding: 2px;
    border-radius: 4px;
    line-height: 11px;
    min-width: 24px;
    text-align: center;
}


/* FADE OUT CSS ANIMATION */

.fadeOut2 {
    animation-name: fadeOut2;
    -webkit-animation-name: fadeOut2;
    animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes fadeOut2 {
    0% {
        transform: scale(1);
        opacity: 1.0;
    }
    100% {
        transform: scale(0);
        opacity: 0.0;
    }
}

@-webkit-keyframes fadeOut2 {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
}


/*  ALERT */

.form-group-multi-complete .alert-warning {
    padding: 10px;
    margin-bottom: 5px;
}