@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-out {
    -webkit-animation: fade-out .5s ease-in;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    background-color: #000;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.fade-out.one {
    -webkit-animation-delay: .5s;
}

.fade-out.two {
    -webkit-animation-delay: 1.5s;
}

.fade-out.three {
    -webkit-animation-delay: 2.5s;
}

.fade-out.four {
    -webkit-animation-delay: 3.5s;
}