.w-1 {
    width: 1%;
}

.w-33 {
    width: 33%;
}

.w-30 {
    width: 30%;
}

.w-10 {
    width: 10%;
}

.w-19 {
    width: 19%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-120px {
    width: 120px;
}

.wc1 {
    width: 22%;
}

.wc2 {
    width: 19%;
}

.wc3 {
    width: 13%;
}

.wc4 {
    width: 17%;
}

.wc5 {
    width: 16%;
}

.wc6 {
    width: 13%;
}